In [2]:
# import dependencies
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
import requests

In [7]:
toronto_Q1_path = os.path.join("Resources/Toronto", "2019-Q1.csv")
toronto_Q2_path = os.path.join("Resources/Toronto", "2019-Q2.csv")
toronto_Q3_path = os.path.join("Resources/Toronto", "2019-Q3.csv")
toronto_Q4_path = os.path.join("Resources/Toronto", "2019-Q4.csv")

q1 = pd.read_csv(toronto_Q1_path, encoding="utf=8")
q2 = pd.read_csv(toronto_Q2_path, encoding="utf=8")
q3 = pd.read_csv(toronto_Q3_path, encoding="utf=8")
q4 = pd.read_csv(toronto_Q4_path, encoding="utf=8")

In [23]:
#Trip Id	Subscription Id	Trip Duration	Start Station Id	Start Time	Start Station Name	End Station Id	End Time	End Station Name	Bike Id	User Type
#summary data frame
q1_total = q1.count()["Trip Id"]
q2_total = q2.count()["Trip Id"]
q3_total = q3.count()["Trip Id"]
q4_total = q4.count()["Trip Id"]
total_trips = q1_total + q2_total + q3_total + q4_total
total_trips
print(f"Q1: {q1_total} Q2: {q2_total} Q3: {q3_total} Q4: {q4_total} Total: {total_trips}")

Q1: 189063 Q2: 651685 Q3: 1130353 Q4: 468416 Total: 2439517

In [26]:
#get all station ids
q1_uniq_start = q1["Start Station Id"].nunique() #359
q1_uniq_end= q1["End Station Id"].nunique()
q1_uniq_start
q1_uniq_end

359

In [43]:
#625 all over toronto
#get all unique stations
q1_start_stn = q1["Start Station Id"]
q1_end_stn = q1["End Station Id"]
toronto_stations = []  #359

q2_start_stn = q2["Start Station Id"]
q2_end_stn = q2["End Station Id"]

q3_start_stn = q3["Start Station Id"]
q3_end_stn = q3["End Station Id"]

q4_start_stn = q4["Start Station Id"]
q4_end_stn = q4["End Station Id"]

In [ ]:
for x in range(len(q1)):
    station = q1_start_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

for x in range(len(q1)):
    station = q1_end_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

In [36]:
len(toronto_stations)

359

In [37]:
for x in range(len(q2)):
    station = q2_start_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

for x in range(len(q2)):
    station = q2_end_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

In [39]:
len(toronto_stations)

372

In [41]:
for x in range(len(q3)):
    station = q3_start_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

for x in range(len(q3)):
    station = q3_end_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

len(toronto_stations)

489

In [44]:
for x in range(len(q4)):
    station = q4_start_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

for x in range(len(q4)):
    station = q4_end_stn[x]
    if station not in toronto_stations:
        toronto_stations.append(station)

len(toronto_stations)

900

In [61]:
#unique number of users
total_users_df = q1["Subscription Id"].nunique()
total_users_df  #11030

#User Type count
user_type = q1[["Subscription Id", "User Type"]].drop_duplicates()
user_type_df = pd.DataFrame({"Total Count" : user_type["User Type"].value_counts()})
user_type_df

               Total Count
Annual Member         7654
Casual Member         3376

In [84]:
#average trip duration
trip_duration = q1["Trip  Duration"].mean()
avg_trip_duration = trip_duration / 60

In [85]:
q1

,Trip Id,Subscription Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,4581278,199751,1547,7021,01/01/2019 00:08,Bay St / Albert St,7233,01/01/2019 00:33,King / Cowan Ave - SMART,1296,Annual Member
1,4581279,294730,1112,7160,01/01/2019 00:10,King St W / Tecumseth St,7051,01/01/2019 00:29,Wellesley St E / Yonge St (Green P),2947,Annual Member
2,4581280,197252,589,7055,01/01/2019 00:15,Jarvis St / Carlton St,7013,01/01/2019 00:25,Scott St / The Esplanade,2293,Annual Member
3,4581281,171700,259,7012,01/01/2019 00:16,Elizabeth St / Edward St (Bus Terminal),7235,01/01/2019 00:20,Bay St / College St (West Side) - SMART,283,Annual Member
4,4581282,306314,281,7041,01/01/2019 00:19,Edward St / Yonge St,7257,01/01/2019 00:24,Dundas St W / St. Patrick St,1799,Annual Member
...,...,...,...,...,...,...,...,...,...,...,...
189058,4802537,174764,761,7048,03/31/2019 23:45,Front St W / Yonge St (Hockey Hall of Fame),7176,03/31/2019 23:58,Bathurst St / Fort York Blvd,1722,Annual Member
189059,4802538,304393,253,7006,03/31/2019 23:46,Bay St / College St (East Side),7293,03/31/2019 23:50,College St / McCaul St,2660,Annual Member
189060,4802539,212530,286,7027,03/31/2019 23:49,Beverley St / Dundas St W,7017,03/31/2019 23:54,Widmer St / Adelaide St W,3725,Annual Member
189061,4802540,199751,677,7206,03/31/2019 23:55,Claremont St / Dundas St W,7233,04/01/2019 00:06,King / Cowan Ave - SMART,1630,Annual Member
189062,4802541,214248,437,7076,03/31/2019 23:55,York St / Queens Quay W,7203,04/01/2019 00:02,Bathurst St/Queens Quay(Billy Bishop Airport),3456,Annual Member